<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Notable.ink</title>
		<link rel="stylesheet" href="../node_modules/simplemde/dist/simplemde.min.css">
		<link rel="stylesheet" href="./style.css">
		<link rel="stylesheet" href="../node_modules/material-icons/css/material-icons.css">
		<!-- TODO: get this offline -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link rel="stylesheet" href="../node_modules/vex-js/dist/css/vex.css" />
		<link rel="stylesheet" href="../node_modules/vex-js/dist/css/vex-theme-os.css" />
		<link rel="stylesheet" href="../node_modules/katex/dist/katex.min.css" />
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>-->
	</head>
	<body>
		<div class="contents">
			<div class="header bordered">
				<div class="left-header">
					<wbuttons :remote="remote" :left="true"></wbuttons>
					<div class="login-wrapper">
						<div class="login no-drag" @click="pop('This feature is coming soon :)')">
							<i class="icon material-icons">account_circle</i>
							<span> LOGIN</span>
						</div>
					</div>
				</div>
				<div class="right-header">
					<wbuttons :remote="remote"></wbuttons>
				</div>
			</div>

			<div class="containers-body">
				<div class="sidebar" >
					<section class="sidebar-header">
						<input type="text" name="folder_name" v-model="search" placeholder="Search for note" autocomplete="off" />
					</section>
					<section class="sidebar-containers" >
						<div class="folders_and_files">
							<project-explorer 
								v-if="path" 
								:path="path"
								:document="document"
								:shell="shell"
								:acceptedfiles="acceptedfiles"
								:search="search"
								v-on:openFile="openFile"
							></project-explorer>
						</div>
					</section>
					<section class="sidebar-buttons" >
						<span class="btn-sidebar btn-terminal" @click="visit('https://notable.ink')">
							<i class="icon material-icons">link</i>
							<span class="text" >Notable.ink</span>
						</span>
						<span class="btn-sidebar btn-feedback">
							<i class="icon material-icons">settings</i>
						</span>
						<scrnsht
							:document="document"
							:remote="remote"
							:BrowserWindow="BrowserWindow"
							:rootdir="rootDir"
						></scrnsht>
					</section>
				</div>

				<div class="details">
					<div class="header-section">
						<div class="text">
							<span>{{ currentOpenFile }}</span>
							<span class="status stopped" v-show="unsaved">UNSAVED</span>
						</div>
					</div>
					<div class="details-panel">
						<div class="editor_holder">
							<textarea id="editor"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>


	</body>
	<script type="text/javascript">var nodeRequire = require</script>
	<script src="../renderer.js"></script>
</html>
