@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(./fonts/Roboto/Robot-Medium.tff) format('ttf');
}

body{
	margin:0px;
	padding:0px;
    font-family: "Helvetica Neue", Segoe UI, "Ubuntu", Arial, "Lucida Grande", sans-serif;
}

tbody{
    width: 100%;
}

.contents{
	position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    /*padding: 4px;*/
}

.header {
    min-height: 40px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    display: flex;
}

.header.bordered {
    border-bottom: 1px solid #e6edf4;
}

.header .left-header {
    display: flex;
    min-width: 221px;
}

.header .logo {
/*    padding: 0.9rem 1rem 0 1rem;*/
    padding: 0.4rem 0.5rem 0 0.5rem;
}

.header .login-wrapper {
    flex: 1 auto;
    display: flex;
    justify-content: flex-end;
}

.header .login {
    flex: 0 auto;
    display: flex;
    align-items: center;
    border-left: 1px solid #e6edf4;
    border-right: 1px solid #e6edf4;
    padding: 0 1rem 0 0.7rem;
    transition: all 100ms;
    color: #7a8491;
    font-size: 10px;
    font-weight: 500;
    cursor:pointer;
}

.header .login .icon {
    margin-right: 0.3rem;
}

.header .login:hover {
    background-color: #f8fafc;
}


.header .right-header {
    display: flex;
    justify-content: flex-end;
    flex: 1 0;
}

.maximized{
    margin:10px;
}

.header .buttons {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: row-reverse;
}
.header .buttons .button.enabled:hover {
    box-shadow: 0px 1px 1px 0px rgba(195, 198, 201, 0.5);
}

.header .buttons .button.button-minimize {
    background-color: #FFBE05;
    border-color: #E2A100;
}
.header .buttons:hover .button-minimize.enabled {
    background-image: url('img/minimize.png');
}

.header .buttons .button.button-fullscreen {
    background-color: #15CC35;
    border-color: #17B230;
}
.header .buttons:hover .button-fullscreen.enabled {
    background-image: url('img/fullscreen.png');
}

.header .buttons .button.button-close {
    background-color: #FF5F52;
    border-color: #E33E32;
}
.header .buttons:hover .button-close.enabled {
    background-image: url('img/close.png');
}


.header .buttons .button {
    flex: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    background: white;
    margin-right: 8px;
    height: 12px;
    width: 12px;
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 0px rgba(234, 234, 234, 0.5);
    -webkit-app-region: no-drag;
}


.header .windows-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 0 1 auto;
    margin-right: 7px;
    -webkit-app-region: no-drag;
}
.no-drag{
    -webkit-app-region: no-drag;
}
.editor-toolbar{
    -webkit-app-region: no-drag;
}

.header .windows-buttons .windows-button.button-minimize, 
.header .windows-buttons .windows-button.button-fullscreen, 
.header .windows-buttons .windows-button.button-fullscreenclose {
    min-width: 34px;
    background-color: white;
}

.header .windows-buttons .windows-button.button-minimize:hover, 
.header .windows-buttons .windows-button.button-fullscreen:hover, 
.header .windows-buttons .windows-button.button-fullscreenclose:hover {
    -webkit-filter: brightness(0.9);
}

.header .windows-buttons .windows-button.button-close:hover {
    -webkit-filter: saturate(120%);
}

.header .windows-buttons .windows-button {
    height: 25px;
    margin-left: 1px;
    -webkit-transition: -webkit-filter 0.3s;
}

.header .windows-buttons .windows-button.button-minimize .icon {
    background-position: 50% 18px;
    background-image: url('img/windows-minimize.png');
}

.header .windows-buttons .windows-button.button-fullscreen .icon {
    background-position: center;
    background-image: url('img/windows-fullscreen.png');
}

.header .windows-buttons .windows-button.button-close {
    min-width: 58px;
    background: #C75050;
    background-image: url('img/windows-close.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 -1px rgba(255, 255, 255, 0.4);
}

.header .windows-buttons .windows-button.button-minimize .icon, 
.header .windows-buttons .windows-button.button-fullscreen .icon, 
.header .windows-buttons .windows-button.button-fullscreenclose .icon {
    background-repeat: no-repeat;
    -webkit-filter: brightness(0.3);
    height: 25px;
}

.header .windows-buttons .windows-button {
    height: 25px;
    margin-left: 1px;
    -webkit-transition: -webkit-filter 0.15s;
}





.containers-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;
}


.sidebar {
    background-color: white;
    margin: 0;
    border-right: 1px solid #e6edf4;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    box-sizing: border-box;
    position: relative;
}

.sidebar .sidebar-header {
    flex: 0 auto;
    min-width: 220px;
    min-height: 53px;
    display: flex;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.25s;
}

.sidebar .sidebar-header input {
    width: 100%;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    padding: 4px;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sidebar .sidebar-header input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red inset;
}

.sidebar .sidebar-header input:focus {
    border-bottom: solid 2px #969696;
    box-shadow: 0 0 0 1000px white inset;
    outline: none;
}

.sidebar .sidebar-header h4 {
    align-self: flex-start;
    padding: 0.4rem 0 0 1.4rem;
    display: inline-block;
    position: relative;
}
h4 {
    font-size: 13px;
    color: #3f5167;
    font-weight: 500;
}


.sidebar .sidebar-header .create {
    display: flex;
    flex: 1 auto;
    justify-content: flex-end;
    margin: 0.8rem 0.8rem 0 0;
}

.sidebar .sidebar-containers {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 220px;
}

.sidebar-buttons {
    -webkit-user-select: none;
    border-top: 1px solid #e6edf4;
    min-height: 40px;
    flex: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    opacity: 0.9;
    z-index: 10000;
}

.details {
    background-color: #f6f8fb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1 0;
    display: flex;
    flex-direction: column;
}

.details .header-section {
    -webkit-user-select: none;
    position: absolute;
    top: 10px;
}

.details .details-panel {
    flex: 1 auto;
    overflow: auto;
    display: flex;
}

.details .header-section .text {
    font-size: 14px;
    color: #3f5167;
    font-weight: 500;
    margin-left: 1.5rem;
    font-family: "Helvetica Neue", Segoe UI, "Ubuntu", Arial, "Lucida Grande", sans-serif;
}


.details .header-section .text .status.stopped {
    border-color: #c4cdda;
    color: #c4cdda;
}
.details .header-section .text .status {
    padding: 0.3rem;
    border-radius: 0.2rem;
    font-size: 10px;
    font-weight: 500;
    position: relative;
    left: 1rem;
    color: white;
    border: 1px solid white;
}

.details .details-panel {
    flex: 1 auto;
    overflow: auto;
}


.sidebar-buttons .btn-sidebar {
    transition: all 100ms;
    color: #7a8491;
    font-size: 10px;
    font-weight: 500;
    flex: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    cursor:pointer;
}
.sidebar-buttons .btn-sidebar:hover {
    background-color: #f8fafc;
}

.sidebar-buttons .btn-terminal i{
    margin-right: 10px;
}
.sidebar-buttons .btn-terminal {
    flex: 1 auto;
    border-right: 1px solid #e6edf4;
    color: #22b8eb;
}

.sidebar-buttons .btn-feedback {
    border-right: 1px solid #e6edf4;
}

.editor-statusbar{
    -webkit-user-select: none;
}














.CodeMirror{
	height: calc(100% - 111px);
}

.left_panel{
    min-width: 200px;
    color: #150000;
    height: calc(100% - 40px);
    width: 100%;
    overflow-y: scroll;
}

#table_layout{
    display: flex;
    flex-direction: row;
    flex: 1 auto;
}

#first_col{
    position: relative;
}

#second_col{
    position: relative;
}

.left_panel_container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor_holder{
    flex-grow: 1;
}

.folders_and_files{
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 220px;
}

.folders_and_files > ul{
    list-style-type:none;
    margin: 0px;
    padding:0px;
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 220px;
}
.folders_and_files ul li{
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    cursor:pointer;
    user-select: none;
    border-bottom: 1px solid rgba(230, 237, 244, 0.38);
}
.folders_and_files .open{
    background-color: rgba(34, 184, 235, 0.2);
}

.folders_and_files ul li:hover{
    background-color: rgba(34, 184, 235, 0.2);
}    
.folders_and_files .title{
    padding-left: 8px;
}
.folders_and_files>ul>li .fileName{
    color: inherit;
}

.folders_and_files .fileName{
    color:#7f8c8d;
}
.folders_and_files .foldeName{
    color: #2c3e50;
}
.folders_and_files ul li:hover > .fileName{
    color:#000;
}

.folders_and_files ul li:hover > .folder_icon{
    color: #2c3e50;
}
.folders_and_files ul li > ul{
    padding-left: 25px;
}

.searchInput input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
    width: calc(100% - 20px);
}
.searchInput input[type="text"]:focus,
.searchInput input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.CodeMirror img, .editor-preview-side img{
    max-width: 100%;
    height: initial;
}

.editor-toolbar.fullscreen{
    top: 41px;
}

.editor-toolbar.fullscreen::after, .editor-toolbar.fullscreen::before{
    background: initial;
}

.CodeMirror-fullscreen, .editor-preview-active-side{
    top: 91px;
    bottom: 41px;
}

.editor-statusbar{
    position: absolute;
    right: 0px;
    bottom: 5px;
}